body {
    background-image: url('../images/bg-bike.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
}

.header-shadow {
    text-shadow: 2px 2px 3px #000;
}

#forecast {
    display: flex;
    justify-content: space-around;
}